@import "bootstrap/scss/bootstrap";

body {
    background-color: black;
}

header {
    background-color: black;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

}

main {

    padding-top: 6rem;
}