@import "bootstrap/scss/bootstrap";



header {
    background-color: black;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;

}

main {
    background-color: black;
    padding-top: 6rem;
}